@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif !important;
    color: inherit;
    background-color: #FFF;
}

h1, h2, h3, h4, h5, h6,
p, div {
    font-family: 'Quicksand', sans-serif !important;
}

p {
    font-size: 13pt !important;
}

hr {
    border-bottom: 1px solid #dadada !important;
}

#navbar {
    margin-top: 20px;
}
#navbar,
.navbar-brand {
    padding: 0px 15px !important;
}
.nav>li>a {
    padding: 10px 10px !important;
}
.navbar-default {
    background-color: #5bc0de;
    background-image: none;
    padding: 10px;
    border: none;
    box-shadow: none;
}
.navbar-default .navbar-brand {
    color: #FFEFDE;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
} .navbar-default .navbar-brand:hover {
    color: #13293D;
}
.navbar-brand {
    height: 80px;
}
.navbar-brand:hover {
    cursor: pointer;
    color: #13293D;
}
.navbar-default .navbar-nav li a {
    text-transform: uppercase;
    color: #E8F1F2;
    font-size: 13pt;
    font-family: 'Quicksand', sans-serif !important;
    text-shadow: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.navbar-default .navbar-nav li a:hover {
    color: #318bc7;
    cursor: pointer;
}
.navbar-toggle {
    background-color: #E8F1F2;
    margin-top: 20px;
    border-radius: 0px;
} .navbar-toggle>.icon-bar {
    background-color: #13293D !important;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#navbar.collapsing,
#navbar.in {
    width: 100%;
    margin: 0;
}
#navbar.collapsing li,
#navbar.in li {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#navbar.collapsing li:hover,
#navbar.in li:hover {
    cursor: pointer;
    background-color: #E8F1F2;
}

.centre {
    margin-left: auto;
    margin-right: auto;
}

#GameOnTheRocks {
    font-family: 'Quicksand', sans-serif !important;
    font-size: 14pt;
    color: #E8F1F2;
    /*background-color: #F26419;*/
    background-color: #5bc0de;
    /*min-height: 650px;*/
    width: 100%;
    padding-top: 200px;
    text-align: center;
}
#GameOnTheRocks h1 {
    font-size: 30pt;
}
.tagline {
    font-size: 13pt !important;
}
.bannerLink {
    font-size: 14pt;
    color: #FFF;
    background-color: transparent;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 150px;
    border: 2px solid #FFF;
    border-radius: 0px;
    text-shadow: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.bannerLink:hover {
    color: #318bc7;
    background-color: #FFF;
    border-color: #FFF;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#GameOnTheRocks .above {
    position: relative;
    z-index: 1;
}

.particles-js-canvas-el {
    position: absolute !important;
    top: 0px;
    left: 0px;
}

#Services {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #455a64;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.service {
    color: #455a64;
    padding: 20px;
}
.service h1 {
    font-family: "Raleway", sans-serif !important;
    font-weight: bold;
}
.service p {
    font-size: 13pt;
}
.service span {
    color: #ff5e09;;
    font-size: 70pt;
}

#About {
    color: #455a64;
    font-family: "Quicksand", sans-serif;
    background-color: #f1f1f1 !important;
    /*min-height: 800px;*/
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
#About h1:first-child {
    margin-top: 20px;
}
#About h1,
#About h3 {
    text-align: center;
    margin: 0;
}
#About .portrait,
#Servers .game {
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;
}
#About .portrait .image,
#Servers .game .image
 {
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
}
#About .portrait .name,
#Servers .game .name {
    color: #fff;
    text-align: center;
    background-color: #ff5e09;
    padding: 15px;
    box-sizing: border-box;
}
#About .portrait .name p {
    margin: 0;
    padding: 0;
}

#Servers {
    color: #455a64;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
#Servers .game {
    margin-top: 50px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
#Servers .game .name {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#Servers .game:hover {
    cursor: pointer;
}
#Servers .game:hover .image {

}
#Servers .game:hover .name {
    background-color: #5bc0de;
}
#Servers .game .image {
    background-image: url('../assets/images/minecraft.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#Servers .game .name h3 {
    margin: 0;
    padding: 0;
}

#Discord {
    color: #FFF;
    text-align: center;
    background-color: #7289DA;
    padding: 40px;
    box-sizing: border-box;
}
#Discord .logo {
    max-height: 180px !important;
    margin-left: auto;
    margin-right: auto;
}
#Discord .bannerLink {
    margin-bottom: 0px;
}

/******************************************************************************|
|*******************************  Game Class  *********************************|
|******************************************************************************/

.rtate::before {
    color: #318bc7;
    position: relative;
    -webkit-animation: gameName 3s linear 0s 4;
    -ms-animation: gameName 3s linear 0s 4;
    -o-animation: gameName 3s linear 0s 4;
    animation: gameName 3s linear 0s 4;
}

.Gaming {}
.Gaming::before {
    content: "Gaming";
    color: #ff5e09;
}

.Minecraft {}
.Minecraft::before {
    content: "Minecraft";
}

.CounterStrike {}
.CounterStrike::before {
    content: "Counter-Strike";
}

.Ark {}
.Ark::before {
    content: "Ark";
}

/******************************************************************************|
|*******************************  Animations  *********************************|
|******************************************************************************/

@-webkit-keyframes gameName {
    0% { opacity: 0; left: 35px; width: 0px; }
    40% { opacity: 1; left: 0px; width: auto; }
    100% { opacity: 1; left: 0px; width: auto; }
}
@-moz-keyframes gameName {
    0% { opacity: 0; left: 35px; width: 0px; }
    40% { opacity: 1; left: 0px; width: auto; }
    100% { opacity: 1; left: 0px; width: auto; }
}
@-o-keyframes gameName {
    0% { opacity: 0; left: 35px; width: 0px; }
    40% { opacity: 1; left: 0px; width: auto; }
    100% { opacity: 1; left: 0px; width: auto; }
}
@keyframes gameName {
    0% { opacity: 0; left: 35px; width: 0px; }
    40% { opacity: 1; left: 0px; width: auto; }
    100% { opacity: 1; left: 0px; width: auto; }
}
